<!doctype html>
<html>
  <head>
    <title>Search <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=shopName%></h1>
    <form action="/search-result" method="GET"> <!--Uses a form to render the search bar and upon hitting the submit input the action then takes
    us to the search result page where are have a get method to retrieve the data and display on HTML.-->
      <p>What book do you want?</p>
      <input id="search-box" type="text" name="keyword" value="Default"> <!--We have search bar that saves what is inputted and outputs the results by referencing the keyword
      as req.query.keyword.-->
      <input type="submit" value="Search" >
    </form>
  </body>
</html>